* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.preloader{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title-preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 18vw;
    text-align: center;
    font-weight: 800;
    line-height: 0.85em;
    color: rgb(255, 255, 255);
    background: rgba(58, 58, 58, 0.95);
    mix-blend-mode: multiply;
}
.subtitle-preloader {
    font-size: 0.3em;
    line-height: 0.80em;
}